{% block doctype %}
<!DOCTYPE html>
{% endblock %}
{% block html_begin %}
<html>
{% endblock %}
<head>
    {{ render_pre_head(page) }}
    {% block head %}{% endblock %}
    {{ render_post_head(page) }}
</head>
<body>
    {{ render_pre_body(page) }}
    {% block body %}{% endblock %}
    {{ render_post_body(page) }}
</body>
{% block html_end %}
</html>
{% endblock %}