body.bg-gradient-primary {
    background-color: #737272;
    background-image: none;
}
body.bg-gradient-primary .text-gray-900 {
    color: #FFF !important;
}
body.bg-gradient-primary .card {
    border-radius: 0;
}
body.bg-gradient-primary .card-body {
    background: #575757;
    color: white;
}
body.bg-gradient-primary .card-body .form-control {
    border-radius: 0;
}
.credential-error {
    color: #ffa0a0;
}
body.bg-gradient-primary .card-body a {
    color: white;
}
body.bg-gradient-primary .card-body a:hover {
    color: #3abee8;
}
.cookie-accept-box {
    background-color: #acacac;
}
#page-top .card {
    margin-top: 30px;
    background-color: #2f2f2f;
    border: none;
}
#page-top .card-header {
    background-color: #2f2f2f;
}
#page-top .card .form-control {
    border-radius: 0;
}
#content {
    background-color: #2f2f2f !important;
}
nav.navbar {
    margin-bottom: 0px !important;
    background-color: #3c3c3c !important;
    border-bottom: 1px solid #000000
}
li.nav-item {
    min-width: 55px;
}
.text-gray-600 {
    color: white !important;
}
li.nav-item {
    font-size: 18px;
    color: white;
    height: 69px;
}
li.nav-item:hover {
    background-color: green;
}
li.nav-item.nav-item-nohover:hover {
    background-color: #3c3c3c!important;
    cursor: default;
}
.nav-item a.nav-link {
    margin-left: 6px;
}
.jstree-default .jstree-wholerow-clicked {
    background: #585353 !important;
}
.jstree-default .jstree-wholerow-hovered {
    background: #726b6b !important;
}
.dropdown-menu {
    border-radius: 0;
    margin-top: 0px;
    width: 220px !important;
    border-left: 1px solid #474e4f;
    border-right: 1px solid #474e4f;
    border-bottom: 1px solid #474e4f;
    border-top: none;
    background-color: #3c3c3c;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    color: white;
    background-color: #666;
}
.dropdown-divider {
    border-top: 1px solid #717171;
}
.tree-controls {
    border-bottom: 1px solid #000000;
    height: 35px;
}
.tree-controls ul {
    margin: 0px;
    padding: 0px;
}
.tree-controls li {
    list-style: none;
    height: 35px;
    float:left;
    text-align: center;
    font-size: 15px;
    padding-top: 6px;
    margin-right: 10px;
}
.tree-controls li.hover {
    width: 35px;
    cursor:pointer;
    margin-right: 0px;
}
.tree-controls li.hover:hover {
    background-color: #f4b619;
}
.tree-outer-wrapper {
    overflow: auto;
}
.modal-header {
    font-size: 24px;
}
.modal-content {
    border-radius: 0;
    background-color: #9a9a9a;
    color: #000;
    font-size: 14px;
}
#BaseappModal .modal-body {
    max-height: 350px;
    overflow: auto;
}
#BaseappSelection .modal-body {
    max-height: 350px;
    overflow: auto;
}
.btn {
    border-radius: 0;
}
.nodes .node-selector {
    height: 55px;
}
.nodes .node-selector:hover {
    background-color: grey;
}
.nodes .node-selector a {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: #103ab7;
}
.nodes .node-selector a i {
    font-size: 30px;
}
.options-title {
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.btn {
    cursor: pointer;
}
.image-size-controlled-container {
    overflow: hidden;
}
.option-image-selection {
    cursor: pointer;
    border: 1px solid white;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    max-height: 100px;
}

