[data-cms-insert] {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #52bb52;
    border: 1px solid #710d29;
    cursor: cell;
}
[data-cms-insert-parent] {
    border: 1px dashed red;
}
[data-cms-insert-current-line] {
    width: 100%;
    border-top: 1px solid red;
}
[data-cms-edit] {
    min-height: 20px;
}
[data-cms-edit]:hover {
    border: 1px dashed blue;
    cursor: text;
}
.ck-powered-by-balloon {
    display: none !important;
}