body {
    color: white;
    font-size: 11px;
    /*overflow: hidden;*/
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.media-tree-wrapper {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.media-list {
    overflow: auto;
    width: 100%;
}
.media-list-entry {
    height: 250px;
    cursor: pointer;
}
.media-list-entry:hover {
    border: 1px solid green;
}
.media-options {
    border-right: 1px solid #000000;
    padding: 10px;
    overflow: auto;
    padding: 15px 10px 20px 15px;
}
.media-entry-options {
    padding: 15px 10px 20px 15px;
    border-left: 1px solid #000000;
}
#dropzone {
    height: 60px;
    background-color: #303c30;
}
#dropzone .dz-default.dz-message {
    display: block !important;
}
#dropzone .dz-preview {
    display: none;
}
