body {
    color: white;
    font-size: 11px;
    overflow: hidden;
    scroll: no;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.structure-tree-wrapper {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.content-tree-wrapper {
    border-right: 1px solid #000000;
}
.structure-options {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    overflow: auto;
    padding: 15px 10px 20px 15px;
}
.content-options {
    border-left: 1px solid #000000;
    overflow: auto;
    padding: 15px 10px 20px 15px;
}
#content-actions {
    height: 50px;
}

iframe#content {
    height: 100%;
    width: 100%;
    border: none;
}
#versions {
    padding-top: 15px;
    font-size: 15px;
}
#viewports {
    padding-top: 15px;
    font-size: 15px;
}
#version-actions {
    padding-top: 5px;
}
.media-list-entry {
    height: 150px;
}
.media-list-entry:hover {
    border: 1px solid green;
}
.media-selector-tree-wrapper {
    height: 400px;
}
.media-selector-tree-wrapper .media-tree {
    height: 100%;
}
.tree-outer-wrapper {
    height: 100%
}
.tree-outer-wrapper .tree {
    height: 100%
}
.media-selector-list img {
    max-width: 100%;
    max-height: 250px;
}