<div class="row">
    <div class="col-12">
        <div class="structure-selector-tree-wrapper">
            {{ baseapp_tree().render('structure', 'structure-overlay-tree')|raw }}
        </div>
    </div>
</div>