<!DOCTYPE html>
<html>
<head>
    {% block head_stylesheets %}
        {{ baseapp_gui().headStyleSheets.render()|raw }}
    {% endblock %}
</head>
<body>
{{ message }}

{% block footer_stylesheets %}
    {{ baseapp_gui().footerStyleSheets.render()|raw }}
{% endblock %}

</body>
</html>