{% if access('cms_content_versions') %}
    {% if versions|length %}
        <select id="version-selector">
            {% for version in versions %}
                <option value="{{ version.options }}" {% if loop.last %}selected="selected"{% endif %}>{{ ('baseapp.cms.content.versions.'~version.mode)|trans }} Version {{ version.version }}</option>
            {% endfor %}
        </select>
    {% endif %}
{% endif %}

