<div style="text-align: right;">
    {% if showDeleteButton %}
        {% if access('cms_content_delete_version') %}
                <a class="btn btn-danger delete" title="{{ 'baseapp.cms.content.version.delete.button'|trans }}" data-sourceid="{{ currentId }}" data-title="{{ 'baseapp.cms.content.version.delete.title'|trans }}" data-message="{{ 'baseapp.cms.content.version.delete.message'|trans }}" data-button="Ok">
                        <i class="fas fa-trash" role="presentation"
                        ></i> {{ 'baseapp.cms.content.version.delete.button'|trans }}
                </a>
        {% endif %}
    {% endif %}

    {% if setPublishButton %}
        {% if access('cms_content_set_publish') %}
                <a class="btn btn-warning publish" title="{{ 'baseapp.cms.content.version.publish.title'|trans }}" data-sourceid="{{ currentId }}" data-title="{{ 'baseapp.cms.content.version.publish.title'|trans }}" data-message="{{ 'baseapp.cms.content.version.publish.message'|trans }}" data-button="Ok">
                        <i class="fas fa-globe" role="presentation"
                        ></i> {{ 'baseapp.cms.content.version.publish.button'|trans }}
                </a>
        {% endif %}
    {% endif %}

    {% if createDraftButton %}
        {% if access('cms_content_create_draft') %}
                <a class="btn btn-warning createdraft" title="{{ 'baseapp.cms.content.version.createdraft.title'|trans }}" data-sourceid="{{ currentId }}" data-title="{{ 'baseapp.cms.content.version.createdraft.title'|trans }}" data-message="{{ 'baseapp.cms.content.version.createdraft.message'|trans }}" data-button="Ok">
                        <i class="fas fa-pen" role="presentation"
                        ></i> {{ 'baseapp.cms.content.version.createdraft.button'|trans }}
                </a>
        {% endif %}
    {% endif %}
    {% if showPreviewButton %}
        {% if access('cms_structure_preview') %}
                <a class="btn btn-success showpreview" title="{{ 'baseapp.cms.content.version.showpreview.title'|trans }}" href="{{ path('cms_preview_page') }}">
                        <i class="fas fa-eye" role="presentation"></i> {{ 'baseapp.cms.content.version.showpreview.button'|trans }}
                </a>
        {% endif %}
    {% endif %}
</div>