{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <div class="row">
        <div class="col-3">
            <div class="structure-tree-wrapper">
                {{ baseapp_tree().render('structure', 'structure-tree')|raw }}
            </div>
            <div class="content-tree-wrapper">
                {{ baseapp_tree().render('content', 'content-tree')|raw }}
            </div>
        </div>
        <div class="col-9">
            <div class="row" id="content-actions">
                <div class="col-3">
                    <div id="versions">
                    </div>
                </div>
                <div class="col-3">
                    <div id="viewports" style="display: none;">
                        <select id="viewports-selector">
                            <option value="full" selected="selected">{{ 'baseapp.structure.viewport.full'|trans }}</option>
                            <option value="tablet">{{ 'baseapp.structure.viewport.tablet'|trans }}</option>
                            <option value="mobile">{{ 'baseapp.structure.viewport.mobile'|trans }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div id="version-actions">
                    </div>
                </div>
            </div>
            <div class="row" id="iframe-wrapper">
                <div class="col-12">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <iframe id="content" style="max-width: 100%; display: none;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}