{% block doctype %}
<!DOCTYPE html>
{% endblock %}
{% block html_begin %}
<html>
{% endblock %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {{ render_pre_head(page) }}
    {% block head %}{% endblock %}
    {{ render_post_head(page) }}
    <style>
        body {
            background-color: white;
        }
        img {
            width: 100%;
        }
    </style>
</head>
<body>
{{ render_pre_body(page) }}
<div class="container">
    {% block body %}
        <div>
            {{ render_child(element) }}
        </div>
    {% endblock %}
</div>
{{ render_post_body(page) }}
</body>
{% block html_end %}
</html>
{% endblock %}
