{% if access('cms_cache_clear') %}
<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="cacheDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="">
        <i class="fas fa-radiation-alt"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="cacheDropdown" id="cms-cache-content">
        <a class="dropdown-item d-flex align-items-center" href="#" id="cache-clear-action">
            <div>
                {{ 'baseapp.cms.structure.cache.clearaction'|trans }}
            </div>
        </a>
    </div>
</li>
{% endif %}