<!-- Nav Item - Alerts -->
<li class="nav-item nav-item-nohover dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="publishIndicator" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="">
        <i class="fas fa-globe"></i>
    </a>
    <script>
        Baseapp.addToIntervalCallStack(
            'cms_content_edit_controller:publishIndicator',
            Baseapp.Alerts.getCurrentAlertsFromHeader,
            function(response) {
                if (response.count > 0) {
                    $('#publishIndicator i').css('color', 'red');
                } else {
                    $('#publishIndicator i').css('color', 'green');
                }
            }
        )
    </script>
</li>
