{% set col = 12 %}
{% if percent == '8' %}
    {% set col = 1 %}
{% elseif percent == '16' %}
    {% set col = 2 %}
{% elseif percent == '25' %}
    {% set col = 3 %}
{% elseif percent == '33' %}
    {% set col = 4 %}
{% elseif percent == '41' %}
    {% set col = 5 %}
{% elseif percent == '50' %}
    {% set col = 6 %}
{% elseif percent == '58' %}
    {% set col = 7 %}
{% elseif percent == '66' %}
    {% set col = 8 %}
{% elseif percent == '75' %}
    {% set col = 9 %}
{% elseif percent == '83' %}
    {% set col = 10 %}
{% elseif percent == '91' %}
    {% set col = 11 %}
{% elseif percent == '100' %}
    {% set col = 12 %}
{% endif %}
<div class="col-{{ page.option('layout-step', '') }}{{ col }}">
    {{ render_child(element) }}
</div>