<div {{ render_edit_tags(element) }}>
    {% if filename %}
        <image
            title="{{ title }}"
            alt="{{ alt }}"
            src="{{ webFolder }}/{{ filename }}"
        />
    {% endif %}
</div>
