<div id="carouselExampleIndicators{{ element.id }}" class="carousel slide {% if dark %}carousel-dark{% endif %} {% if fades %}carousel-fade{% endif %}" data-bs-ride="carousel">
    {% if indicators %}
        <div class="carousel-indicators">
            {% for slider_element in element.children %}
                <button type="button" data-bs-target="#carouselExampleIndicators{{ element.id }}" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}" aria-label="Slide {{ loop.index }}" aria-current="{% if loop.first %}true{% endif %}"></button>
            {% endfor %}
        </div>
    {% endif %}
    <div class="carousel-inner">
        {% for slider_element in element.children %}
            <div class="carousel-item{% if loop.first %} active{% endif %}" {% if interval %}data-bs-interval="{{ interval }}"{% endif %}>
                {{ render_node(slider_element) }}
            </div>
        {% endfor %}
    </div>

    {% if controls %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ element.id }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ element.id }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    {% endif %}
</div>