<image class="d-block w-100"
    title="{{ title }}"
    alt="{{ alt }}"
    src="{{ webFolder }}/{{ filename }}"
    style="{% if width %} width: {{ width }};{% endif %} {% if height %} height: {{ height }};{% endif %}"
/>