<img style="{% if width %} width: {{ width }};{% endif %} {% if height %} height: {{ height }};{% endif %}" class="d-block w-100">
<div class="carousel-caption d-none d-md-block">
    {% if content %}
        {{ content|raw }}
    {% endif %}
</div>