<div {{ render_edit_tags(element) }}>
    <iframe
            {% if element.option('width') %}
                width="{{ element.option('width') }}"
            {% endif %}
            {% if element.option('height') %}
                height="{{ element.option('height') }}"
            {% endif %}
            {% if not element.option('width') and not element.option('height') %}
                style="width: 100%"
            {% endif %}
            src="{{ element.option('url') }}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
    >
    </iframe>
</div>