{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <div class="row">
        <div class="col-2">
            <div class="media-tree-wrapper">
                {{ baseapp_tree().render('media', 'media-tree')|raw }}
            </div>
            <div class="media-options" data-url="{{ path('baseapp_tree_options', {name: 'media'}) }}">
            </div>
        </div>
        <div class="col-8">
            <div class="row" >
                <div class="col-12">
                    {% if access('cms_media_upload') %}
                        <div id="dropzone" class="dropzone media-upload-field" data-path="{{ path('cms_media_upload') }}"></div>
                    {% endif %}
                </div>
                <div class="col-12">
                    <div class="row media-list">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="media-entry-options" data-url="{{ path('baseapp_tree_options', {name: 'media'}) }}">
            </div>
        </div>
    </div>
{% endblock %}