{% for entry in list %}
    <div class="col-3">
        <div class="media-list-entry image-size-controlled-container" data-id="{{ entry.id }}">
            {{ entry.template|raw }}
        </div>
        {# <div class="">
            <ul>
                <li>Trash</li>
            </ul>
        </div> #}
    </div>
{% endfor %}
