{% for entry in list %}
    <div class="col-3">
        <a class="selection" data-id="{{ entry.id }}">
            <div class="selection media-list-entry image-size-controlled-container">
                {{ entry.template|raw }}
            </div>
        </a>
    </div>
{% endfor %}