<div class="row">
    <div class="col-3">
        <div class="media-selector-tree-wrapper">
            {{ baseapp_tree().render('media', 'media-tree')|raw }}
        </div>
    </div>
    <div class="col-9">
        <div class="row media-selector-list">
        </div>
    </div>
</div>